/* body ?の色 */
body {
    background: #efefef;
}

/* ボタンの設定 */
#btn {
    width: 200px;
    height: 200px;
    background: #ef454a;
    border-radius: 50%;
    margin: 30px auto;
    text-align: center;
    line-height: 200px;
    color: #fff;
    font-size: bold;
    font-size: 42px;
    cursor: pointer;
    box-shadow: 0 10px 0 #d1483e;
    user-select: none;
}
#btn:hover {
    opacity: 0.9;
}

#btn:active {
    box-shadow: 0 5px 0 #d1483e;    
    margin-top: 35px;
}

p {
    font-size: 20px;
    color: #ef454a;
    text-align: center;
}

#target {
    user-select: none;
    cursor: pointer;
}

#target:hover {
    opacity: 0.9;
}